/*
HEADER MINBAR
================================================ */
/* header minbar pagewrap */
#pagewrap {
	padding-top: 0 !important; /* prevent inline padding apply from JS */
}
#body {
	padding-left: 129px;
	padding-right: 4%;
}
.full_width #body {
	padding-left: 69px;
	padding-right: 0;
}
#footerwrap {
	padding-left: 69px;
}
.row_inner {
	width: auto;
	max-width: 90%;
	margin: 0 auto;
}
.sidebar-none #content {
	padding: 0;
}
.mobile-menu-visible.full_width #body {
	padding-left: 0;
}

/* header minbar headerwrap */
.header-minbar #pagewrap #headerwrap {
	float: left;
	width: 318px;
	position: fixed !important;
	height: 100%;
	left: -249px;
	transition: left .2s ease-in-out;
}
.transparent-header #headerwrap {
	background-color: rgba(0,0,0,.3);
}
#headerwrap {
	border-bottom: none;
	border-right: 1px solid rgba(0,0,0,.1);
}
#header {
	text-align: inherit;
	position: absolute;
	height: 100%;
	width: 248px;
	font-size: .95em;
	padding: 0;
}
.header-bar {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
	position: fixed;
	bottom: -6px;
	left: 18px;
}
#headerwrap.fixed-header {
	width: 318px;
	left: -249px;
}

/* mega menu */
#main-nav .has-mega-column > .sub-menu {
	overflow: inherit; /* prevent scrollbar */
}
	
/* Side menu */
#mobile-menu,
.header-widget {
	visibility: hidden;
	opacity: 0;
}
.header-widget {
	height: auto;
}
.sidemenu {
	transition: all .2s ease-in-out;
	height: 100%;
	width: 250px;
	padding: 2em 1.5em;
	background-color: #f4f4f4;
	color: #000;
	display: block;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	z-index: 11111;
}
#mobile-menu {
	left: -300px;
	transition: all .2s ease-out;
}
#mobile-menu.sidemenu-on {
	left: 0;
}
.sidemenu-active {
	position: relative;
	left: 0;
	transition: left .2s ease-in-out;
}
.iphone.sidemenu-active {
	position: absolute;
}
.iphone.sidemenu-active.mobile-menu-visible {
	position: fixed;
}
.sidemenu-active .header-widget {
	-webkit-transition: opacity .2s ease-out;
	transition: opacity .2s ease-out;
}
.sidemenu-active .header-widget {
  visibility: visible;
  opacity: 1;
}
.sidemenu-left {
	left: 319px;
}
.sidemenu-left #mobile-menu.sidemenu-on {
	left: 69px;
	opacity: 1;
	visibility: visible;
	z-index: 1;
}

/* header minbar site logo */
#site-logo {
	font-size: 1.8em;
	padding-top: 0;
	letter-spacing: .08em;
	margin: 0 .3em 0 0;
	display: inline-block;
	vertical-align: middle;
}
#site-logo img {
	height: 30px;
	width: auto;
}

/* header minbar site description */
#site-description {
	font-size: .9em;
	margin: 0;
	display: inline-block;
}

/* header minbar social widget */
.social-widget {
	float: none;
	clear: both;
	display: block;
	margin: 0 0 1em;
}

/* header minbar searchform */
#searchform-wrap {
	float: none;
	clear: both;
	display: block;
	margin: 0 0 1em;
}
#searchform-wrap #searchform {
	width: auto; /* reset searchform width */
}

#headerwrap #searchform #s {
	width: 100%;
	margin: 0;
	border-radius: 5em;
	background-color: #fff;
	color: #000;
}
#headerwrap #searchform .icon-search:before {
	background: none;
	color: #000;
	left: 6px;
	top: 0;
}
#headerwrap #searchform #s:focus,
#headerwrap #searchform #s:hover,
#headerwrap #searchform .icon-search:hover + #s {
	width: 100%;
	background-color: #fff;
}

/* header minbar main nav */
#main-nav {
	float: none;
	clear: both;
	margin: 0 0 2em;
}
#main-nav ul {
	border: none;
	background: none;
	display: block;
	position: static;
	padding: .2em 0 0 1em;
	width: auto;
}
#main-nav li {
	display: block;
}
#main-nav a {
	padding: .4em 0;
	width: 100%;
}
#main-nav ul a {
	padding: .4em 0;
	width: auto;
	color: inherit;
}
#main-nav li:not(.themify-widget-menu) > ul {
	position: static;
	display: block;
	background-color: transparent;
	border-color: transparent;
	margin-left: .8em;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

#main-nav .has-mega-column > .sub-menu,
#main-nav .has-mega-sub-menu .mega-sub-menu {
	display: block;
	position: static;
	box-shadow: none;
	border: none;
	background-color: transparent;
	min-height: inherit;
	max-height: inherit;
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	color: inherit;
}
#main-nav .has-mega-sub-menu .mega-sub-menu ul,
#main-nav .has-mega-column .sub-menu li {
   display: block;
   float: none;
   width: auto;
   margin: 0;
   padding: 0;
}
#main-nav .has-mega-column .widgettitle,
#main-nav .has-mega-column > .sub-menu > .columns-sub-item > a,
#main-nav .has-mega-column > .sub-menu a {
	font-size: inherit;
	font-weight: normal;
	text-transform: none;
}
#main-nav li.mega-link.loading:before,
#main-nav .mega-sub-menu li:hover a:after,
#main-nav .mega-menu-posts {
	display: none;
}
#main-nav .has-mega-column > .sub-menu {
	padding: .5em 1em .1em;
}
#main-nav .has-mega-sub-menu .mega-sub-menu > ul a {
	padding: .5em 1em .1em;
}
#main-nav .has-mega-column > .sub-menu .widget {
	margin-top: .5em;
	margin-bottom: .5em;
}

/* dropdown icon */
#main-nav .menu-item-has-children .child-arrow:before,
#main-nav .page_item_has_children .child-arrow:before {
    content: "\e64b";
	font-family: themify;
	font-size: 0.8em;
	cursor: pointer;
    position: absolute;
    right: 0;
	top: 4px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#main-nav .menu-item-has-children .child-arrow.toggle-on:before,
#main-nav .page_item_has_children .child-arrow.toggle-on:before {
    content: "\e646";
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
#main-nav .menu-item-has-children > a .sub-arrow,
#main-nav .page_item_has_children > a .sub-arrow {
	display: none;
}
#headerwrap #main-nav .has-mega-column > .sub-menu,
#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu,
#headerwrap #main-nav .has-mega-column > .sub-menu > li > ul,
#headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu {
	opacity: 1;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	padding: 0;
}
.header-minbar #headerwrap #main-nav .has-sub-menu > .sub-menu > li > ul.sub-menu,
.header-minbar #headerwrap #main-nav .has-mega-column > .sub-menu > li > ul.sub-menu,
.header-minbar #headerwrap #main-nav > li > div.sub-menu,
.header-minbar #headerwrap #main-nav > li > ul.sub-menu {
	height: 100%;
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.5s ease-in-out;
	-
	moztransition: max-height 0.5s ease-in-out;
	transition: max-height 0.5s ease-in-out;
	padding: 0;
	margin: 0;
}
.header-minbar #headerwrap #main-nav .has-sub-menu > .sub-menu > li > .toggle-on + ul.sub-menu,
.header-minbar #headerwrap #main-nav .has-mega-column > .sub-menu > li > .toggle-on + ul.sub-menu,
.header-minbar #headerwrap #main-nav > li > .toggle-on + div.sub-menu,
.header-minbar #headerwrap #main-nav > li > .toggle-on + ul.sub-menu {
	max-height: 1000px;
	min-height: initial;
}
#headerwrap #main-nav > li {
	position: relative;
}
#headerwrap #main-nav > li:last-child a,
#headerwrap #main-nav > li a {
	border-bottom: 1px solid rgba(0,0,0,.1)
}
#headerwrap #main-nav > li li a {
	font-size: 0.95em;
	margin-bottom: 0;
	padding: .5em 0;
	margin: 0 0 0 .7em;
}
#headerwrap #main-nav > li li li a {
	margin: 0 0 0 1.5em;
	font-size: .95em;
}

/* header minbar headerwrap column */
#headerwrap .col3-1 {
	float: none;
	width: auto;
	margin: auto;
}

/* header minbar header widget */
#headerwrap .widget {
	text-align: inherit;
	margin: 0 0 3em;
}
#headerwrap .social-widget .widget {
	margin: 0;
}

/* header minbar menu icon */
#headerwrap #menu-icon {
	position: fixed;
	display: block;
	text-decoration: none;
	top: 30px;
	left: 16px;
	font-size: 1.4em;
	width: 32px;
	z-index: 9999;
	-webkit-transition: left .2s ease-in-out;
	-moz-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out;
}
.admin-bar#headerwrap #menu-icon {
	top: 52px;
}
@media screen and (max-width: 1000px) {
	.header-minbar.mobile-menu-visible {
		overflow-x: hidden;
	}
	/* header minbar mobile menu */
	.header-minbar #mobile-menu {
		left: -300px;
	}

	/* header minbar pagewrap */
	.header-minbar.minbar-open #body,
	.header-minbar.minbar-open #footerwrap {
		padding-left: 38px;
	}

	/* header minbar headerwrap */
	.header-minbar #headerwrap {
		z-index: 4;
		left: -249px;
	}
	.header-minbar.minbar-open #headerwrap {
		left: 0;
		padding: 0 4em 1.7em 1.3em;
	}
	.header-minbar #headerwrap #header {
		height: 100%;
		padding: 0;
		width: 228px;
	}
	.header-minbar .pagewidth,
	.header-minbar.full_width .themify_builder_row .row_inner {
		width: auto;
	}
	.header-minbar #footerwrap {
		padding-left: 0;
	}

	/* header minbar site logo */
	.header-minbar #headerwrap #site-logo {
		margin: 0;
	}

	/* header minbar searchform */
	.header-minbar #searchform-wrap {
		margin: 1.6em 0;
	}

	/* header minbar social widget */
	.header-minbar #headerwrap .social-widget {
		margin: 1.7em 0 1em;
	}

	/* header minbar main nav */
	.header-minbar #headerwrap #main-nav a {
		padding: .4em 0;
	}
	.header-minbar #headerwrap #menu-icon-close {
		display: none;
	}
}
@media screen and (max-width: 680px) {
	#body {
		padding-left: 4%;
	}
	.header-minbar.no-fixed-header #pagewrap #headerwrap {
		left: -318px;
	}
	.header-minbar.no-fixed-header.mobile-menu-visible #pagewrap #headerwrap {
		left: 0;
	}
	.header-minbar.full_width #pagewrap #body {
		padding-left: 0;
	}
	.header-minbar #pagewrap .header-bar {
		left: -69px;
	}
	.header-minbar.mobile-menu-visible #pagewrap .header-bar{
		left: 18px;
	}
	.header-minbar.sidemenu-left {
		left: 319px;
	}
	.header-minbar #headerwrap #menu-icon {
		background-color: #ed1e24;
		color: #fff;
		left: 0;
		text-align: center;
		height: 45px;
		line-height: 45px;
		font-size: 1.2em;
	}
	.header-minbar #headerwrap #menu-icon:before {
		font-family: 'themify';
		content: "\e661";
		font-size: 100%;
	}
	.header-minbar.mobile-menu-visible #headerwrap #menu-icon:before {
		content: "\e662";
	}
	.header-minbar.minbar-open #headerwrap #menu-icon {
		left: 318px;
	}
}

@media screen and (max-width: 320px) {
	#body {
		padding-left: 6%;
		padding-right: 6%;
	}
	.sidemenu {
		width: 251px;
	}
}
